<p id="notice"><%= notice %></p>

<div class="navbar navbar-default">
  <div class="navbar-inner">
  <div class="container">
    <a class="navbar-brand" href="#"><strong>RESCUE ME</strong></a>
    <ul class="nav navbar-nav">
      <li><a href='main_page'>Home</a></li>
      <li><a href="#">About Us</a></li><br>
      <li></li>
      <li class="divider-vertical"></li>
      <li class="active"><a href="dogs#index">Adopt</a></li>
      <li><a href="info_pages#index">Information</a></li>
      <li><a href="#">Sponsor</a></li>
      <li></li>
    </ul>
  </div>
</div>

<h1>Dogs that need Forever Homes</h1>

  <div class="row">
    <% @dogs.each do |dog| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
           <%= image_tag dog.avatar.url(:medium), class: "img-responsive" %>
           <h2><%= dog.name %></h2>
           <h3><%= dog.age %></h3>
           <p><%= dog.description %></p>

           <div class="btn-group">
            <%= link_to 'Show', dog, class:"btn btn-primary" %>
            <%= link_to 'Edit', edit_dog_path(dog),  class:"btn btn-warning" %>
            <%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' },  class:"btn btn-danger"%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Dog', new_dog_path, class: "btn btn-info" %>
